# vowl & viz
/webvowl/data/display.json
visual-notation*

# local doc
/build-doc.sh
display-documentation/
/widoco.jar
/tmp*
/interface*

# catalogue d'ontologies utiles
ontologies/

# log de Protege
catalog-v001.xml

# autres
/notes.md